
<body>
    <header class="cd-header">
		<div class="header-wrapper">
			<div class="logo-wrap">
				<a href="#" routerLink="" class="hover-target"><span>your</span>logo</a>
			</div>
			<div class="nav-but-wrap">
				<div class="menu-icon hover-target" (click)="toggleNav()">
					<span class="menu-icon__line menu-icon__line-left"></span>
					<span class="menu-icon__line"></span>
					<span class="menu-icon__line menu-icon__line-right"></span>
				</div>					
			</div>					
		</div>				
	</header>

	<div class="nav">
		<div class="nav__content">
			<ul class="nav__list">
   
				<li class="nav__list-item"><a routerLink="/" class="hover-target">home</a></li>
				<li class="nav__list-item"><a routerLink="affiliate" class="hover-target">Free product</a></li>
				<li class="nav__list-item"><a  routerLink="news" class="hover-target">news</a></li>
				<li class="nav__list-item"><a  class="hover-target">contact</a></li>
				<li class="nav__list-item"><a routerLink="login&signup" class="hover-target">log in</a></li>
				<li class="nav__list-item"><a style="color: #8167a9"  routerLink="user" class="hover-target">USER</a></li>
				<li class="nav__list-item"><a style="color: gold;"  routerLink="admin" class="hover-target">ADMIN</a></li>
			</ul>
		</div>
	</div>		


	
	<div class='cursor' id="cursor"></div>
	<div class='cursor2' id="cursor2"></div>
	<div class='cursor3' id="cursor3"></div>

<!-- Link to page
================================================== -->


</body>
